@font-face {
  font-family: "Fira Code";
  src: url("FiraCode-VF-small.woff2") format("woff2-variations");
  font-weight: 300 700;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans Mono";
  src: url("NotoSansMono-Regular-small.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 500px;
  margin: auto;
  height: 100vh;

  background-color: #000000;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(43, 43, 43, 1) calc(50% - 250px),
    rgba(43, 43, 43, 1) calc(50% + 250px),
    rgba(0, 0, 0, 1) 100%
  );

  font-family: "Fira Code", monospace;
  font-feature-settings: "cv10", "ss01", "zero", "onum", "ss05", "ss03", "cv29",
    "ss02", "ss08";
  font-size: 1rem;

  color: #e0e0e0;
}

.content {
  height: 100%;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
}

header {
  margin: 1rem;
}

.grab {
  cursor: grabbing !important;
}

#cat {
  width: fit-content;
  margin: auto;
  cursor: grab;
  font-family: "Noto Sans Mono", monospace;
  user-select: none;
}

main {
  text-align: center;
  margin: 1rem auto;
  width: fit-content;
  height: 100%;
}

main ul li {
  margin: 1rem;
  list-style: none;
}

.multiline {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.select-me {
  margin: 1rem auto;
  padding: 1rem;
  width: fit-content;
  cursor: text;
}

a {
  color: #e0e0e0;
  text-decoration: underline;
  width: fit-content;
}
